*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(244, 164, 164);
    height: 100px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.menuBorder{
    border: 2px solid rgb(169, 228, 241);
    border-radius: 10px;
    margin-bottom: 5px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content{
    background-color: rgb(153, 233, 143);
    height: 600px;
    margin-bottom: 5px;
}

.footer{
    background: linear-gradient(to top, rgb(169, 228, 241), rgb(255, 255, 255));
    height: 100px;
    
}

.menuImage{
    
}

.menuVerticalBorder{
    border: 2px solid rgb(169, 228, 241);
    border-radius: 10px;
    width: 2px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}